// Place all the styles related to the api/menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container-full {
  height: 700px;
}

.container-full > img {
  height: auto;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.menu-detail {
  top: 90%;
  margin-left: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  .fa-spoon {
    margin-right: 3px;
    color: #f14444;
  }
}



.ownerProfilePic {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
}

.menu-detail-owner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: grey;
}

.menu-detail-description {
  margin-left: 5%;
}

.menu-detail-description > h4 {
  color: grey;
}

.specs {
  margin-left: 10%;
  width: 50%;

}

.specs > h2 {
  padding: 15px;
  font-size: 20px;
}

.specs > h4 {
  padding-left: 20px;
}

.specs h4 {
  color: grey;
}
.host-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .host-description {
    width: 60%;
    margin-left: 10%;
  }
}

.single-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #EBEFF1;
  padding: 5px;
  .review-owner {
    display: flex;
    flex-direction: column;
    color: grey;
  }
  img {
    height: 50px;
    weight: 50px;
    border-radius: 50%;
  }
  .review-body {
    position: relative;
    left: 5%;
    right: 5%;
  }


}


.menu-steps{
  margin-top: 100px;

  a:link{
    color: #f14444;
    text-decoration: none;
  }
  .panel-heading:hover{
    background: lightgrey;
    cursor: pointer;
  }
  .menu-dropzone {
    width: 100%;
    height: 200px;
    border: 3px dashed #aebbcb;
    border-radius: 5%;
    p {
      font-size: 20px;
      text-align: center;
    }
  }
  .menu-finish {
    a{
      color: white;
      text-align: center;
      text-decoration: none;
    }
    background: #f14444;
    .panel-heading:hover{
      background: red;
    }
  }
}

.new-review{
  .spoons{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    h4 {
      padding-right: 10px;
    }
  }
  i.fa.fa-spoon{
    margin-right: 20px;
    transform: scale(3, 3);
  }
  textarea {
    border: 2px dashed #aebbcb;
    border-radius: 5%;
  }
  .new-review-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      height: 50px;
      margin-left: 5%;
      border: none;
    }
  }
}
