/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 nav.navbar-eatbnb {
   background: #fff;
   border-color: #ccc;
   box-shadow: 0 0 2px 0 #ccc;
   z-index: 1;
 }
nav.navbar-eatbnb a {
  color: #f14444;
}
nav.navbar-eatbnb ul.navbar-nav a {
  color: #f14444;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #fff;
}
nav.navbar-eatbnb ul.navbar-nav a:hover,
nav.navbar-eatbnb ul.navbar-nav a:visited,
nav.navbar-eatbnb ul.navbar-nav a:focus,
nav.navbar-eatbnb ul.navbar-nav a:active {
  background: #fff;
  outline: none;
}

nav.navbar-eatbnb ul.navbar-nav a:hover {
  border-color: #f14444;
}
nav.navbar-eatbnb li.divider {
  background: #ccc;
}
nav.navbar-eatbnb button.navbar-toggle {
  background: #f14444;
  border-radius: 2px;
}
nav.navbar-eatbnb button.navbar-toggle:hover {
  background: #999;
}
nav.navbar-eatbnb button.navbar-toggle > span.icon-bar {
  background: #fff;
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: 99;
}

.Modal {
  left: 30%;
  top: 20%;
  z-index: 100;
}

.box {
  opacity: 1;
}

.col-md-4 {
  position: fixed;
  top: 20%;
}

.box {
	background-color: #fff;
	padding: 25px 40px;
}

.input-group {
	margin: 5px 0px;
}

.addon-facebook {
	background-color: #345387;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-facebook,
.btn-facebook:hover {
	background-color: #4b6ea9;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-google {
	background-color: #c32f10;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-google,
.btn-google:hover {
	background-color: #ca3523;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 10px 0px;
}

p {
	color: #aebbcb;
}

a {
	color: #23a9f6;
}

.divider-form {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

strong {
	color: #95a5bb;
}

.form-control {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control:focus {
    box-shadow: none;
}

// .menuIndex {
//   position: absolute;
//   top: 20%;
// }
//
// .menuIndex > li{
//   list-style: none;
//   padding: 10px;
// }

.container-full > img {
  position: absolute;
  width: 100%;
  min-width: 100%;
  min-height: 80%;

}

.menu-detail {
  position: absolute;
  top: 80%;
  width: 60%;
}

// .container-full > img{
//     position: absolute;
//     top: 7%;
//     width: 100%;
//     left: 0;
//
// }
